<html>
    <head>
        <title>購物車</title>
        <script src ="../static/111303555_js_2.js"></script>
    </head>
    <body>
        <h1>購物車</h1>
        <table border="1">

            <tr>
                <th><input type="checkbox" id = "checkbox_all" onclick="AllCheckboxes(this)"></th>
                <th>商品名稱</th>
                <th>商品庫存</th>
                <th>單價</th>
                <th>數量</th>
                <th>小計</th>
            </tr>
            <tr>
                <th><input type="checkbox"  class = "product" id = check_1 data_total="melontotal" data_qty="melonsnum" onclick="selectAllcheckedbox()">></th>
                <td><img src="D:/中央/電腦網路與程式/ME2025Demo/HW5_JavaScript2/static/img/西瓜.jpg" width="200" height="150" alt="西瓜"> <br>西瓜</td>
                <td id = "melonqty">20</td>
                <td id = "melonprice">$100</td>
                <td><input type="button" value="+" onclick="increase('melonsnum','melonqty')" >
                    <input type="number" id="melonsnum" value="0" min="0" onblur="checkqty('melonsnum')">
                    <input type="button" value="-" onclick="decrease('melonsnum')">
                </td>
                <td id = melontotal>$0</td>
            </tr>
            <tr>
                <th><input type="checkbox" class = "product" id = check_2 data_total="bananatotal" data_qty="banananum" onclick="selectAllcheckedbox()"></th>
                <td><img src="D:/中央/電腦網路與程式/ME2025Demo/HW5_JavaScript2/static/img/香蕉.jpg" width="200" height="150" alt="香蕉"> <br>香蕉</td>
                <td id = "bananaqty">10</td>
                <td id = "bananaprice">$30</td>
                <td><input type="button" value="+" onclick="increase('banananum','bananaqty')" >
                    <input type="number" id="banananum" value="0" min="0" onblur="checkqty('banananum')">
                    <input type="button" value="-" onclick="decrease('banananum')">
                </td>
                <td id = bananatotal>$0</td>
            </tr>
            <tr>
                <th><input type="checkbox" class = "product" id = check_3 data_total="RTXtotal" data_qty="RTXnum" onclick="selectAllcheckedbox()"></th>
                <td><img src="D:/中央/電腦網路與程式/ME2025Demo/HW5_JavaScript2/static/img/RTX5070.jpg" width="200" height="150" alt="香蕉"> <br>RTX5070</td>
                <td id = "RTXqty">5</td>
                <td id = "RTXprice">$40000</td>
                <td><input type="button" value="+" onclick="increase('RTXnum','RTXqty')" >
                    <input type="number" id="RTXnum" value="0" min="0" onblur="checkqty('RTXnum')">
                    <input type="button" value="-" onclick="decrease('RTXnum')">
                </td>
                <td id = RTXtotal>$0</td>
            </tr>
            <tr>
                <th colspan="5">總計</th>
                <th><span id="total">$0</span></th>
                <th><button onclick="checkout()">結帳</button></th>
            </tr>
            
    </body>
</html>